

body
{
    background-color:#dcefe0;

	font: 1rem arial, sans-serif;
}

thead
{
	color: blue;
	font-size: medium;
	font-weight: bold;
	text-align: center;
}
tbody
{
	color:black;
	font-size: small;
	font-weight: bold;
	border-style: solid;

}
table
{
	border-style: solid;
}
dr
{
	font-size: x-small;
	text-center;

    padding-top: .3125rem;
    padding-right: .3125rem;
    padding-bottom: .3125rem;
    padding-left: .3125rem;
    margin-bottom: 0;
}

btn
{
	margin-top: .625rem;
	border-radius: .3125rem;
    padding: .3125rem;
}

tr:nth-child(even)
{
 	background-color: #efe7a7;
}

tr:nth-child(odd)
{
	background-color: #bcb7cc;
}

